* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Banner full-screen */
main  {
    max-width: 900px;
    margin: auto;
    padding: 0 50px;
}
header {
    max-width: 900px;
    margin: auto;
    padding: 0 50px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0; 
}

.name {
    font-family: 'Russo One', sans-serif;
    font-size: 1.5em;
    margin-right: 20%;
}

/*banner buttons*/
.nav-button {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}
.nav-button:hover {
    cursor: pointer;
    background-color: gray;
}
.nav-button:active {
    background-color: black;
    color: white;
}

.toggle {
    display: none;
}
#cancle {
    display: none;
}


/*about section*/
section {
    padding: 20px 0;
}

.about-me-container {
    display: flex;
}
.about-me-text-container {
    margin-right: 20px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.foto {
    width: 200px;
    height: auto;
    margin-top: 0;
    margin: auto;
    flex-shrink: 0;
}

img {
    overflow: clip;
    overflow-clip-margin: content-box;
}

.CV-Button{
    color: white;
    font-weight: bold;
    border: 2px solid #005454;
    background-color: #005454;
    padding: .4rem .8rem;
    border-radius: 5px;
}

.CV-Button:hover{
    background-color: #006d6d;
    color: white;
    text-decoration: none;
    transition:all .25s;
}

/*project section*/
#project1 {
    display: none;
}
#project2 {
    display: none;
}
#project3 {
    display: none;
}

h3 {
    margin: 10px;
}


/*links section*/
footer {
    background: gray;
}
.links-section-container {
    display: flex;
    max-width: 900px;
    margin: auto;
    text-align: center;
}

.email-png {
    width: 30px;
}
.github-png {
    width: 30px;
}
.linkedin-png {
    width: 30px;
}

.email {
    margin: auto;
}
.github {
    margin: auto;
}
.linkedin {
    margin: auto;
}


@media all and (max-width: 480px) {
/*phone banner*/
    .menu {
        display: flex;
    }
    .name {
        order: 1;
    }
    .item {
        order: 4;
        text-align: center;
        width: 100%;
        margin-top: 10px;
    }

    #about {
        display: none;
    }
    #projects {
        display: none;
    }
    #links {
        display: none;
    }
    #toggle {
        display: block;
    }
    #cancle {
        order: 3;
        display: none;
    }

    .toggle {
        order: 2;
    }

    /*phone aboout-me*/
    .about-me-container {
        display: block;
    }
    
    img {
        display: block;
    }

    .foto { 
        width: 150px;
        margin: 20px auto;
    }
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
/*ipad banner*/
    .foto {
        display: none;
    }
}